 @import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    
}
body{
    background-color:#080808 ;
    color: #fff;
}
.nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    height: 7vh;

}
.sticky{
background-color: #fff;
}
.sticky .item a{
    color: #080808;
}
.sticky .logo h1{
    color: #080808;
}
.item{
    position: relative;
    margin-bottom: 2.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.item a{
   position: relative;
   text-decoration: none;
   color: floralwhite;
   font-weight: 700;
   transition: 0.6s;
   cursor: pointer;
z-index: 1;
}
.logo{
    position: relative;
font-size: 2vw;
}
span{
    color: #ec0750;
}
.a{
    color:#ff004f ;
}
.flex{
    display: flex;
}
#menu{
    display: none;
}
.content{
    padding: 10px 10%;
    margin-top: 30vh;
    font-size: 1.7vw;;
}
.img img{
    height:65vh;
    width: 34vw;
    mix-blend-mode:screen;
   
    margin-right:2vw;
    border-radius:10px;
    margin-top: 10vh;
}
#about{
    margin-top: 25vh;
    padding: 10px 10%;
    display: flex;
    gap:2vw;
}
#about img{
    width:30vw;
  height: 55vh;
  border-radius: 10px;
}
.About-Me{
  font-size:1rem;
  font-family: poppins;
  font-weight:1px;
}
 .About-Me H1{
    font-size: 2.7vw;
}
.title
{  font-weight: 600;
    display: flex;
    gap: 2vw;
} 
.title p{
    position: relative;
   
}
.tablinks::after{
 content: '';
width: 0;
height: 3px;
background: #ff004f;
position: absolute;
left: 0;
bottom: -8px;
transition: 0.5s;
}
.tablinks:hover::after{
    width: 100%;
}
.tab-contents{
    margin-top: 3vh;
    display: none;
}
.tab-contents ul li{
    list-style: none;
}
.active::after{
width: 60%;
}
.active-page{
    display: block;
}
#Services{
    margin-top: 10vh;
    padding: 20px 15%;
}
i{
  font-size: 2rem; 
  font-weight: 800;
  margin-bottom: 2vh;
}
.card{
    background-color: #262626;
    padding: 40px;
    width: 300px;
    height: 220px;
    border-radius: 10px;
    font-size: 2vh;
    transition: 0.5s ease-in-out;
    
}
.card:hover{
    background-color: #ff004f;
    transform: translateY(-9px);
}
#portfolio{
    margin-top: 10vh;
    padding: 10px 10%;
}
.card-container{
    display: flex;
  gap: 2vw;
  justify-content: center;
    flex-wrap: wrap;
    margin-top: 7vh;
    flex-direction: row;
}
.card1{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  
    width: 350px;
}
.card1 img{
    width: 100%;
    border-radius: 10px;
    transition: 0.4s;
    mix-blend-mode: screen;
display: block;}
.text{
    width: 100%;
    height: 0;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    transition: 0.6s;
}
.text h3{
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 1rem;

}
.text h3 p{
font-size: 1rem;
}
.text a{
    margin-top: 22px;
    color: #ff004f;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.card1:hover img{
    transform: scale(1.1);
}
.card1:hover .text{
height: 100%;
}
.seemore{
    margin-top: 10vh;
    border: 2px solid #ff004f;
    height: 7vh;
    width: 11vw;
    margin-left: 32vw;
    border-radius: 10px;
    transition: 0.7s ease-in-out;

}
.seemore h6{
    font-size: 1.2vw;
    text-align: center;
    margin-top: 1vh;
}
.seemore:hover{
    background: #ff004f;
    color: #080808;
}
.mail{
    display: flex;
    gap: 1vw;
    margin-top: 5vh;
}

.social-media{
    margin-top: 5vh;
    display: flex;
    gap:1.5vw;
}
button{
   background-color: #ed1257;
   padding: 23PX;
   color: #fff;
   font-size: 1VW;
   font-weight: 600;
   border-radius: 10PX;
   border: none;
   position: relative;
   transition: 0.5s ease-in;
   margin-top: 3vh;
}
button:hover{
    background-color:white;
    color: #ff004f;
}
.font{
    transition: 0.4s;
    color: #ced4df;
}
.font:hover{
    transform: translateY(-11px);
    color: #ed1257;
}
#Contact-Me{
    display: flex;
    flex-wrap: wrap;
    margin-top:4vh;
    flex-basis: 40%;
}
.form {
    margin-top: 6vh;
      margin-left: 9vw;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    flex-basis: 60%;
}
.form input,textarea{
    padding: 10px;
    color: #e3e6ea;
    background-color: #262626;
    border: none;
    border-radius: 5px;
    font-weight: 600;

}
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 12vw;
  }
  #bar{
    display: none;
  }
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
.Copyright{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    background-color: #262626;
    width: 100vw;
    
}
.Copyright pre{
    font-weight: 600;
    margin-top: 3vh;
}

@media only screen and (max-width: 400px){
    
.item{
background: #ec0750;
position: fixed;
flex-direction: column;
top: 0;
right: -200px;
width:35vw;
height:60vh;
padding-top: 50px;
transition: 0.5s;
    } 
    .card{
        position: relative;
        margin-bottom:5vh;
    }

    
    .item a{
        display:block;
        margin:8px;
    }
    #home{
        display: flex;
        flex-direction: column;
        align-items: center;
    justify-content: center;
    height: 340px;
    }
    .logo{
        font-size: 1rem;
        margin-top: 10px;
        margin-left:5vw;
    }
    .content{
        padding: 5px 8%;
        font-size: 1.3rem;
    }
    .item span{
        display: none;
    }
    #menu{
        display: block;
        position: absolute;
        margin-bottom:95vw;
        cursor: pointer;
    }
    #bar{
        display: block;
        margin-top: 5vh;
        margin-right: 5vw;
    }
    .img img{
        display: none;
    }
    #about{
        display: flex;
        flex-direction: column;
        position: relative;
    margin-left: 1%;
    margin-top: 10vh;
    }
    .About-Me{
        width:80vw;
    }
    .About-Me h1{
        font-size: 40px;
    }
    .seemore{
        height: 9vh;
        width:40vw;
        margin-left:20vw;
    }
    .seemore h6{
        font-size:4vw;
    }
    button{
        font-size:3vw;
        font-weight: 600;
        margin-left: 82px;
     }
     
     .form input,textarea{
        margin-right:53%;
        margin-left:-10%;
    
    }
    .button-85{
        width: 130px;
        height: 6vh;
        margin-left: 35px;
    }
   html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }
    .Copyright{
      background-color: #262626;
        font-size:12px;
    }
    .Copyright pre{
        font-weight:600;
    }
    
    #about img{
        margin-top: 10vh;
        width: 80vw;
      height: 55vh;
      border-radius: 10px;
      mix-blend-mode: screen;
      
    }
   
    .social-media{
        gap:5vw;
    }
  
}